@import "tailwindcss";

@theme {
  --font-young-serif: 'Young Serif', serif;
  --font-outfit: 'Outfit', sans-serif;
  --color-custom-stone-100: oklch(0.9307 0.0238 67.53);
  --color-custom-stone-150: oklch(0.9032 0.0104 67.69);
  --color-custom-stone-600: oklch(0.4613 0.0178 67.36);
  --color-custom-stone-800: oklch(0.3012 0.0052 56.2);
  --color-brown-800: oklch(0.4671 0.09203 37.7057);
  --color-custom-rose-800: oklch(0.4141 0.1222 354.94);
  --color-custom-rose-50: oklch(0.9789 0.0128 345.48);
}